{{ partial "header.html" . }}

<!-- BEGIN (for debugging) -->

{{ .Site.BaseURL }} <br>
{{ .Site.BaseURL | absLangURL }} <br>
{{ .Site.BaseURL | absURL }} <br>
{{ .Site.BaseURL | relLangURL }} <br>
{{ .Site.BaseURL | relURL }} <br>

{{ .Permalink }} <br>
{{ .Permalink | absLangURL }} <br>
{{ .Permalink | absURL }} <br>
{{ .Permalink | relLangURL }} <br>
{{ .Permalink | relURL }} <br>

{{ .Site.Home.RelPermalink }} <br>
{{ .Site.Home.Permalink }} <br>

{{ "mystyle.css" | absURL }} <br>
{{ "mystyle.css" | relURL }} <br>

<!-- END (for debugging) -->
<main class="content" role="main">

  {{ if and .IsHome .Content }}
  <article class="article">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ else }}
  <div class="archive">
    {{ range (where .Data.Pages "Section" "!=" "").GroupByDate "2006" }}
    <h2 class="archive-title">{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
      <span class="archive-item-date">
        {{ .Date.Format "2006/01/02" }}
      </span>
    </article>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}

</main>

{{ partial "footer.html" . }}
